html {
	font-family: Arial, sans-serif;
}

h1 {
	margin: 20px 0px -10px 0px;
}

h2 {
	margin: 50px 0px 0px 0px;
}

fieldset {
	margin: 10px 20px 10px 20px;
}

fieldset {
	border-color: #777;
	border-style: solid;
}

fieldset * {
	margin: 5px 0px 5px 0px;
}

fieldset span {
	display: block;
}

input[type="radio"] {
	position: relative;
	top: 2px;
}

input[type="checkbox"] {
	position: relative;
	top: 3px;
}

input[type="submit"] {
	margin: 20px 0px 30px 0px;
}
